# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SEP4WebServer.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\SEP4WebServer\.idea\.idea.SEP4WebServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
